// 此文件用于重写组件库的组件样式

// drawer 抽屉组件
.ant-drawer {
  .ant-drawer-header {
    width: 100%;
    height: 50px;
    padding: 0px 16px;
    margin-bottom: 0px;
    border-bottom: 1px solid @color-border;
  }

  .ant-drawer-body {
    padding: 16px;
  }
}
