// 字体
@font-family: 'Pingfang SC', 'SF UI Text', 'Helvetica Neue', 'Consolas';
@font-size: 14px;

// 主题
@color-primary-bg: var(--app-color-primary-1);
@color-primary-bg-hover: var(--app-color-primary-2);
@color-primary-border: var(--app-color-primary-3);
@color-primary-border-hover: var(--app-color-primary-4);
@color-primary-hover: var(--app-color-primary-5);
@color-primary: var(--app-color-primary-6);
@color-primary-active: var(--app-color-primary-7);
@color-primary-rgb: var(--app-color-primary-rgb);

// 成功
@color-success-bg: var(--app-color-success-1);
@color-success-bg-hover: var(--app-color-success-2);
@color-success-border: var(--app-color-success-3);
@color-success-border-hover: var(--app-color-success-4);
@color-success-hover: var(--app-color-success-5);
@color-success: var(--app-color-success-6);
@color-success-active: var(--app-color-success-7);
@color-success-rgb: var(--app-color-success-rgb);

// 警告
@color-warning-bg: var(--app-color-warning-1);
@color-warning-bg-hover: var(--app-color-warning-2);
@color-warning-border: var(--app-color-warning-3);
@color-warning-border-hover: var(--app-color-warning-4);
@color-warning-hover: var(--app-color-warning-5);
@color-warning: var(--app-color-warning-6);
@color-warning-active: var(--app-color-warning-7);
@color-warning-rgb: var(--app-color-warning-rgb);

// 信息
@color-info-bg: var(--app-color-info-1);
@color-info-bg-hover: var(--app-color-info-2);
@color-info-border: var(--app-color-info-3);
@color-info-border-hover: var(--app-color-info-4);
@color-info-hover: var(--app-color-info-5);
@color-info: var(--app-color-info-6);
@color-info-active: var(--app-color-info-7);
@color-info-rgb: var(--app-color-info-rgb);

// 失败
@color-error-bg: var(--app-color-error-1);
@color-error-bg-hover: var(--app-color-error-2);
@color-error-border: var(--app-color-error-3);
@color-error-border-hover: var(--app-color-error-4);
@color-error-hover: var(--app-color-error-5);
@color-error: var(--app-color-error-6);
@color-error-active: var(--app-color-error-7);
@color-error-rgb: var(--app-color-error-rgb);

// 字体色
@color-text: var(--app-color-text-primary);
@color-text-regular: var(--app-color-text-regular);
@color-text-secondary: var(--app-color-text-secondary);
@color-text-placeholder: var(--app-color-text-placeholder);
@color-text-disabled: var(--app-color-text-disabled);

// 背景色
@color-bg: var(--app-color-bg);
@color-bg-container: var(--app-color-bg-container);
@color-bg-mask: var(--app-color-bg-mask);
@color-bg-overlay: var(--app-color-bg-overlay);

// 边框色
@color-border: var(--app-color-border);
@color-divider: var(--app-color-divider);

// 圆角
@border-radius: var(--app-border-radius);

// 阴影
@box-shadow: var(--app-box-shadow);
